# see https://github.com/CppCXY/EmmyLuaCodeStyle
[*.lua]
# [basic]
indent_style = tab
indent_size = 4
quote_style = double
continuation_indent = 4
max_line_length = 200
insert_final_newline = true
end_statement_with_semicolon = false
space_inside_function_call_parentheses = false
align_function_params = true
break_all_list_when_line_exceed = true
space_after_comment_dash = true
space_before_inline_comment = keep
